<h1><%=@task.title %></h1>
<h2><%=@task.details %></h2>
<p><%="#{@task.completed ? '[X]' : '[ ]'}"%></p>
<%= link_to 'back to list', '/tasks' %>
<%= link_to 'edit', "#{task_path(@task)}/edit"%>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" }  %>
